:root {
	--main-bg: #E5E5E5;
	--ghost: #647787;
	--faded: #DDE0E3;
	--input-border: #787878;
	--green: #27ae60;
	--white: #fff;
	--black: #000;
	--robotoFont: "Roboto", sans-serif;
	--cardBorder: #eef8fd;
	--lightBlue: #e8f1fd;
	--blue: #1875f0;
	--gray: #f7f8fa;
	--gold: gold;
	--full: 100%;
	--boxShadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
